In [1]:
import numpy as np
import pandas as pd

In [2]:
job_df = pd.read_csv("Jobs_Dataset.csv")
job_df

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,orgId,jobType,...,priority,priceType,workType,comment,subvendorId,Questionnaires,country,department,eligibility,responsibilities
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,14.0,15.0,True,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,1,Permanent,...,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AEM architect,Aemarchitect,12.0,15.0,True,{bangalore},"To analyze, understand the clientâ€™s business u...",NaN,1,Permanent,...,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Azure Administrator,Azure Administrator,14.0,16.0,False,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM architect,Aemarchitect,30.0,32.0,True,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Workday Analyst,wokday functional,8.0,10.0,False,{bangalore},Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,Web UI Developer,Web UI Developer,0.0,6.0,False,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,Workday HRIS Analyst Trainee Analyst,Trainee Analyst,250000.0,300000.0,True,{Bengaluru},"We support our clients around the clock. So, p...",NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,Workday,Workaday Functional,6.0,15.0,False,"{""Bangalore, Chennai, Mumbai, Pune""}",Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,Web UI,Developer,0.0,8.0,True,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
job_df1 = job_df.drop(['subvendorId', 'Questionnaires', 'department', 'eligibility', 'responsibilities','comment','country'],axis=1)
job_df1

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,orgId,jobType,...,minExp,maxExp,noticePeriod,status,jobId,createDate,vacancies,priority,priceType,workType
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,1,Permanent,...,2.00,5.0,15-30 days,Active,JDA&5399,2023-01-31 11:09:26.36189,2.0,High,INR,Work from Office
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,14.0,15.0,True,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,1,Permanent,...,3.00,4.0,15-30 days,Active,JDAA1476,2022-03-30 11:20:03.031659,1.0,High,NaN,NaN
2,AEM architect,Aemarchitect,12.0,15.0,True,{bangalore},"To analyze, understand the clientâ€™s business u...",NaN,1,Permanent,...,4.00,6.0,30-45 days,Active,JDAA5139,2022-03-07 13:21:41.393509,NaN,Low,NaN,NaN
3,Azure Administrator,Azure Administrator,14.0,16.0,False,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,1,Permanent,...,6.00,8.0,45-60 days,Active,JDAA6310,2023-05-04 12:23:28.16582,1.0,High,INR,Work from Office
4,AEM architect,Aemarchitect,30.0,32.0,True,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,9.96,15.0,30-45 days,Active,JDAA7883,2022-03-07 13:35:36.779486,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Workday Analyst,wokday functional,8.0,10.0,False,{bangalore},Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,1.00,6.0,0-15 days,Active,JDWA1049,2022-03-15 09:31:29.327834,NaN,NaN,NaN,NaN
303,Web UI Developer,Web UI Developer,0.0,6.0,False,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,2.00,3.0,0-15 days,Active,JDWD2238,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN
304,Workday HRIS Analyst Trainee Analyst,Trainee Analyst,250000.0,300000.0,True,{Bengaluru},"We support our clients around the clock. So, p...",NaN,1,Permanent,...,0.00,1.0,Immediate,Active,JDWH2618,2023-01-20 09:25:19.824712,2.0,High,INR,Work from Office
305,Workday,Workaday Functional,6.0,15.0,False,"{""Bangalore, Chennai, Mumbai, Pune""}",Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,1.00,1.0,15-30 days,Active,JDWO2277,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN
306,Web UI,Developer,0.0,8.0,True,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,2.00,3.0,0-15 days,Active,JDWU2245,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN

## Observations
- there is no.of nan values in attachment ,last columns..so we can neglect.

In [4]:
job_df.head()

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,orgId,jobType,...,priority,priceType,workType,comment,subvendorId,Questionnaires,country,department,eligibility,responsibilities
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,14.0,15.0,True,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,1,Permanent,...,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AEM architect,Aemarchitect,12.0,15.0,True,{bangalore},"To analyze, understand the clientâ€™s business u...",NaN,1,Permanent,...,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Azure Administrator,Azure Administrator,14.0,16.0,False,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM architect,Aemarchitect,30.0,32.0,True,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(len(job_df))

307

In [6]:
job_df.dtypes

jobTitle             object
position             object
minBudget           float64
maxBudget           float64
travelReq              bool
location             object
description          object
attachment           object
orgId                 int64
jobType              object
skills               object
recruiter            object
client               object
minExp              float64
maxExp              float64
noticePeriod         object
status               object
jobId                object
createDate           object
vacancies           float64
priority             object
priceType            object
workType             object
comment              object
subvendorId         float64
Questionnaires      float64
country              object
department          float64
eligibility         float64
responsibilities    float64
dtype: object

In [7]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobTitle          307 non-null    object
 1   position          307 non-null    object
 2   minBudget         306 non-null    float64
 3   maxBudget         306 non-null    float64
 4   travelReq         307 non-null    bool
 5   location          307 non-null    object
 6   description       307 non-null    object
 7   attachment        68 non-null     object
 8   orgId             307 non-null    int64
 9   jobType           307 non-null    object
 10  skills            307 non-null    object
 11  recruiter         307 non-null    object
 12  client            307 non-null    object
 13  minExp            307 non-null    float64
 14  maxExp            307 non-null    float64
 15  noticePeriod      307 non-null    object
 16  status            307 non-null    object
 17  jobId             307 non-null    object
 18  createDate        307 non-null    object
 19  vacancies         270 non-null    float64
 20  priority          262 non-null    object
 21  priceType         257 non-null    object
 22  workType          259 non-null    object
 23  comment           5 non-null      object
 24  subvendorId       0 non-null      float64
 25  Questionnaires    0 non-null      float64
 26  country           15 non-null     object
 27  department        0 non-null      float64
 28  eligibility       0 non-null      float64
 29  responsibilities  0 non-null      float64
dtypes: bool(1), float64(10), int64(1), object(18)
memory usage: 70.0+ KB

In [8]:
 df=job_df[['jobTitle','description','skills','client','recruiter']]

In [9]:
 df.head(3)

,jobTitle,description,skills,client,recruiter
0,Plant Maintenance Engineer,"Read and understand the data from P&ID, PEFS, ...","{""Plant Maintenance""}",CIHI7757,DB413862
1,Adobe Analytics developer,An understanding of the marketing technologies...,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",CIHW9344,Venkata Sai Rohith
2,AEM architect,"To analyze, understand the clientâ€™s business u...","{JIRA,Confluence,AEM}",CIHW9344,Venkata Sai Rohith

In [10]:
 df['jobTitle']

0                Plant Maintenance Engineer
1                 Adobe Analytics developer
2                             AEM architect
3                      Azure Administrator
4                             AEM architect
                       ...
302                         Workday Analyst
303                        Web UI Developer
304    Workday HRIS Analyst Trainee Analyst
305                                Workday
306                                 Web UI
Name: jobTitle, Length: 307, dtype: object

In [11]:
 df['description']

0      Read and understand the data from P&ID, PEFS, ...
1      An understanding of the marketing technologies...
2      To analyze, understand the clientâ€™s business u...
3      1.\tArchitecture and Design for large scale Az...
4      Should have experience in java, OSGI, Componen...
                             ...
302    Workday Certification with 8+ Years of impleme...
303    Web UI Developer:\r\nHTML 5, CSS, Java Scripts...
304    We support our clients around the clock. So, p...
305    Workday Certification with 8+ Years of impleme...
306    Web UI Developer:\r\nHTML 5, CSS, Java Scripts...
Name: description, Length: 307, dtype: object

In [12]:
import nltk
from nltk.stem.porter import PorterStemmer as ps
from nltk.corpus import stopwords

In [13]:
def cleaning(txt):
#     step 1
    txt = re.sub(r'[^a-zA-Z0-9\s]','',txt)
#     step 2
    tokens = nltk.word_tokenize(txt.lower())
    # step 3 and 5
    stemming = [ps.stem(w) for w in tokens if w not in stopwords.words('english')]
    return " ".join(stemming)

In [14]:
job_df.isnull().sum()

jobTitle              0
position              0
minBudget             1
maxBudget             1
travelReq             0
location              0
description           0
attachment          239
orgId                 0
jobType               0
skills                0
recruiter             0
client                0
minExp                0
maxExp                0
noticePeriod          0
status                0
jobId                 0
createDate            0
vacancies            37
priority             45
priceType            50
workType             48
comment             302
subvendorId         307
Questionnaires      307
country             292
department          307
eligibility         307
responsibilities    307
dtype: int64

In [15]:
job_df.dtypes

jobTitle             object
position             object
minBudget           float64
maxBudget           float64
travelReq              bool
location             object
description          object
attachment           object
orgId                 int64
jobType              object
skills               object
recruiter            object
client               object
minExp              float64
maxExp              float64
noticePeriod         object
status               object
jobId                object
createDate           object
vacancies           float64
priority             object
priceType            object
workType             object
comment              object
subvendorId         float64
Questionnaires      float64
country              object
department          float64
eligibility         float64
responsibilities    float64
dtype: object

In [16]:
median_maxBudget = job_df["maxBudget"].median()
mean_maxBudget = job_df["maxBudget"].mean()
print("Median of maxBudget: ", median_maxBudget)
print("Mean of maxBudget: ", mean_maxBudget)

Median of maxBudget:  275001.0
Mean of maxBudget:  874875.774509804

In [17]:
job_df['maxBudget'] = job_df['maxBudget'].fillna(median_maxBudget)
job_df.isnull().sum()

jobTitle              0
position              0
minBudget             1
maxBudget             0
travelReq             0
location              0
description           0
attachment          239
orgId                 0
jobType               0
skills                0
recruiter             0
client                0
minExp                0
maxExp                0
noticePeriod          0
status                0
jobId                 0
createDate            0
vacancies            37
priority             45
priceType            50
workType             48
comment             302
subvendorId         307
Questionnaires      307
country             292
department          307
eligibility         307
responsibilities    307
dtype: int64

## Observations
- we mainly focus on the jobTitle,description,skills,recruiter,client.so we can easily grab the recruiter by seeing their resume.
- there is no outliers because object datatype.